<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Email</td>
      <td><input type="email" formControlName="email"></td>
      <td *ngIf="form.email.errors && submitted" style="color: red">
        <div *ngIf="form.email.errors.required">Email is required</div>
        <div *ngIf="form.email.errors.email">Email is invalid</div>
      </td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" formControlName="password"></td>
      <td *ngIf="form.password.errors && submitted" style="color: red">
        <div *ngIf="form.password.errors.required">Password is Required</div>
        <div *ngIf="form.password.errors.minLength">Password must be longer than 6 character</div>
      </td>
    </tr>
    <tr>
      <td><input type="submit" value="Login"></td>
    </tr>
  </table>
</form>

<h1 *ngIf="message">{{message}}</h1>
